*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h1,h2,h3{

  font-family: 'Playfair Display', serif;
  font-weight: 900;
}


p{
  color: #8f8f8f;
}

/*Sections*/

.colored-section{
  background-color: #87CEFA;
  color: #fff;

}

.white-section{
  background-color: #fff;
}

/*Containers*/
.title-container{
  padding: 0% 4% 5%;
}
.container-fluid{
  padding: 7% 15%;
}


/*header, 1st section*/
#header{
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 100px;

}

#title h1{
  font-size: 50px;
  line-height:1.2;
  color: #fff;
  font-family: 'Playfair Display', serif;
  margin-top: 200px


}
#title .love-music{
  text-align: right;
}

#title .love-syncphonic{
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: right;
}

#title .button{
  font-size: 23px;
  text-decoration: none;
  color: #40E0D0;
  border: #40E0D0 1px solid;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 300px;
  margin-left: 1200px;

}

#title .button:hover{
  color: #fff;
  border-color: #fff;
}

#title{
  width: 1400px;
  height: 670px;
  margin-right: 50px;
  -webkit-animation: fadein 4s;
}
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}


/*Headings*/
.big-heading{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}



/*Navigation Bar*/

.navbar{
  padding: 0 0 4.5rem;
  width: 1300px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/*Convert Buttons*/

.convert-button{
  margin: 5% 5% 5% 0;
}

.fab{
  margin-right: 5px;
}

/*features Section*/
#features{
  background-color: #fff;
  position: relative;
  z-index: 1; 

}

.feature-box{
  padding: 5%;
}

.feature-title{
  font-size: 1.5rem;
}


.qualities{
  color: #1E90FF;
  margin-bottom: 1rem;
}

.qualities:hover{
  color: #1E90FF;
}

.sign-up{
  margin-right: 100px;
}

/* convert playlist */
.playlist{
  list-style: none;
  text-align: center;
}

.sign-in-logo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* sign in */

#sign-in .login{
  height: 35px;
  width: 65px;
  font-size: 15px;
  border-radius: 10%;
}

#sing-in .sign-in-sign-up{
  height: 40px;
  width: 100px;
  font-size: 15px;
}

#password .update-password{
  height: 40px;
  width: 70px;
  font-size: 15px;
  border-radius: 10%;
}

/*Footer Section*/

.social-icon{
  margin: 20px 10px;
  color: #1E90FF;
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media(max-width: 1028px){

  #title{
    text-align: center;
  }
  

  .title-image{
    position: static;
    transform: rotate(0);

  }
}
