<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Top navbar-->
	<ul class="navbar">
		<li>
			<a href="/">
				<img src="/static/images/logo.png" alt="logo" style="width:42px;height:42px;"><h1 style="display: inline;"> Insta485 </h1>
			</a>
		</li>
		<li style="float: right;"><a href="/u/{{ logname }}/">{{ logname }}</a></li>
		<li style="float: right;"><a href="/explore/">explore | </a></li>
	</ul>
	<br>
	<!--following template-->
	<h2 style="padding-left: 25%">Following</h2>
	{% for i in following %}
	<div class="post">
		<div class = "header">
			<img src="{{  url_for('show_image', filename=i['user_img_url'])  }}" alt="{{  i['username']  }}" class="propic">
			<a href="/u/{{  i['username']  }}/">{{ i['username'] }}</a>
			{% if i['username'] != logname %}
				{% if i['logname_follows_username']%}
				<p style="float: right;">following</p>
				<form action="" method="post" enctype="multipart/form-data">
  					<input type="submit" name="unfollow" value="unfollow"/>
  					<input type="hidden" name="username" value="{{ i['username'] }}"/>
				</form>
				{% else %}
				<p style="float: right;">not following</p>
				<form action="" method="post" enctype="multipart/form-data">
  					<input type="submit" name="follow" value="follow"/>
  					<input type="hidden" name="username" value="{{ i['username'] }}"/>
				</form>
				{%endif%}
			{%endif%}
		</div>
	</div>
	<br>
	{% endfor %}
</body>
</html>