<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Top navbar-->
	<ul class="navbar">
		<li>
			<a href="/">
				<img src="/static/images/logo.png" alt="logo" style="width:42px;height:42px;"><h1 style="display: inline;"> Insta485 </h1>
			</a>
		</li>
		<li style="float: right;"><a href="/u/{{ logname }}/">{{ logname }}</a></li>
		<li style="float: right;"><a href="/explore/">explore | </a></li>
	</ul>
	<br>

	<!--profile template-->
	<br>
	<div class = "profile">
		<h1>{{ username }}</h1>
			{% if logname != username%}
				{% if logname_follows_username %}
					<p>following</p>
					<form action="" method="post" enctype="multipart/form-data">
  						<input type="submit" name="unfollow" value="unfollow"/>
  						<input type="hidden" name="username" value="{{ username }}"/>
					</form>
				{% else %}
					<p>not following</p>
					<form action="" method="post" enctype="multipart/form-data">
  						<input type="submit" name="follow" value="follow"/>
  						<input type="hidden" name="username" value="{{ username }}"/>
					</form>
				{% endif %}
			{% else %}
				<a href="/accounts/edit/">Edit profile | </a>
				<a href="/accounts/logout/">logout</a>
				<br>
			{% endif %}
			{% if posts|length == 1 %}
				<p style="display: inline;">{{  posts|length  }} post</p>
			{% else %}
				<p style="display: inline;">{{  posts|length  }} posts</p>
			{% endif %}
			{% if followers == 1 %}
				<a href="/u/{{ username }}/followers/">{{  followers  }} follower</a>
			{% else %}
				<a href="/u/{{ username }}/followers/">{{  followers  }} followers</a>
			{% endif %}
		<a href="/u/{{ username }}/following/">{{  following  }} following</a>
		<p>{{ fullname }}</p>
		{% if logname == username%}
			<div class="post" style="width: 100%">
				<form action="" method="post" enctype="multipart/form-data">
  					<input type="file" name="file">
  					<input type="submit" name="create_post" value="upload new post"/>
				</form>
			</div>
		{% endif %}
		{% for i in posts %}
			<a href="/p/{{ i['postid'] }}/">
				<img src = "{{ url_for('show_image', filename=i['filename']) }}" alt="post" class="proPost">
			</a>
		{% endfor %}
	</div>
</body>
</html>